<template>
  <div class="advanced">
    <div class="d-flex align-center" style="padding: 40px 9% 20px">
      <v-btn class="mr-2" icon color="pink" @click="help = true">
        <v-icon>mdi-help-circle-outline</v-icon>
      </v-btn>

      <v-text-field
        style="height: 48px"
        v-model="query"
        solo
        label="Filter Query"
        append-icon="mdi-filter"
        @click:append="filter"
        @keydown.enter="filter"
      ></v-text-field>

      <PropertySelect
        class="flex-grow-0 ml-5 mr-2"
        style="width:250px;height:48px"
        v-model="sort"
        :isSortSelect="true"
        :advanced="true"
      ></PropertySelect>

      <v-tooltip right>
        <template v-slot:activator="{ on }">
          <v-btn icon @click="sortAscend = !sortAscend" v-on="on">
            <v-icon>{{ sortAscend ? "mdi-sort-ascending" : "mdi-sort-descending" }}</v-icon>
          </v-btn>
        </template>
        <span>{{ sortAscend ? "Ascending" : "Descending" }}</span>
      </v-tooltip>
    </div>

    <v-col v-show="!isFetchingSeeds && !items.length">
      <v-row justify="center" align="center" style="height: 500px">
        <h1 class="display-1">No Results Found</h1>
        <img height="64px" src="../assets/NotLikeThis.png" alt="NotLikeThis" class="ml-3" />
      </v-row>
    </v-col>

    <v-col v-show="!isFetchingSeeds && fetchError">
      <v-row justify="center" align="center" style="height: 500px">
        <h1 class="display-1">Database Error</h1>
        <img height="64px" src="../assets/Wowee.png" alt="NotLikeThis" class="ml-3" />
      </v-row>
    </v-col>

    <div v-show="items.length">
      <div class="d-flex flex-wrap justify-center">
        <SeedCard
          style="margin: 15px 20px 15px"
          v-for="item in items"
          :key="item.seed"
          :seedData="item.data"
        />
      </div>
    </div>

    <v-dialog v-model="help" width="80%" max-width="750">
      <v-card>
        <v-card-title class="headline" primary-title>Filter help</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <p
            class="text--primary mt-6"
          >The Advanced page allows you to create more complex search critirias using our custom querying language.</p>
          <p class="text--primary">Example of a valid query:</p>
          <code
            class="pa-2"
          >group_ocean &#60; 40 && (huts = 3 || monuments = 3) && spawn_biome(jungle, jungle_edge)</code>

          <v-expansion-panels class="mt-6">
            <v-expansion-panel>
              <v-expansion-panel-header>Operators</v-expansion-panel-header>
              <v-expansion-panel-content>
                <ul>
                  <li>&&</li>
                  <li>||</li>
                  <li>(</li>
                  <li>)</li>
                  <li>&#60;</li>
                  <li>></li>
                  <li>&#60;=</li>
                  <li>>=</li>
                  <li>=</li>
                </ul>
              </v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel>
              <v-expansion-panel-header>Functions</v-expansion-panel-header>
              <v-expansion-panel-content>
                <ul>
                  <li>spawn_biome(..., ...)</li>
                  <li>AVG(..., ...)</li>
                  <li>SUM(..., ...)</li>
                </ul>
              </v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel>
              <v-expansion-panel-header>Seed properties</v-expansion-panel-header>
              <v-expansion-panel-content>
                <ul>
                  <li>seed</li>
                  <!-- <li>key</li> -->
                  <!-- <li>verified</li> -->
                  <!-- <li>found_time</li> -->
                  <li>spawn_biome</li>
                  <li>village_distance</li>
                  <!-- <li>gini</li> -->
                  <li>huts</li>
                  <li>monuments</li>
                  <!-- <li>smallest_biome_name</li> -->
                  <!-- <li>smallest_biome</li> -->
                  <!-- <li>largest_biome_name</li> -->
                  <!-- <li>largest_biome</li> -->
                </ul>
              </v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel>
              <v-expansion-panel-header>Biome Groups</v-expansion-panel-header>
              <v-expansion-panel-content>
                <ul>
                  <li>group_ocean</li>
                  <li>group_mesa</li>
                  <li>group_desert</li>
                  <li>group_savanna</li>
                  <li>group_plains</li>
                  <li>group_swamp</li>
                  <li>group_forest</li>
                  <li>group_roofed_forest</li>
                  <li>group_mountain</li>
                  <li>group_mushroom</li>
                  <li>group_jungle</li>
                  <li>group_tiga</li>
                  <li>group_megataiga</li>
                  <li>group_snowy</li>
                </ul>
              </v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel>
              <v-expansion-panel-header>Biomes</v-expansion-panel-header>
              <v-expansion-panel-content>
                <ul>
                  <li v-for="biome in biomeLabels" v-bind:key="biome">{{ biome }}</li>
                </ul>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card-text>

        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" text @click="help = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import SeedCard from "@/components/SeedCard.vue";
import PropertySelect from "@/components/PropertySelect.vue";
import api from "@/mixins/api";
import { mapState, mapGetters } from "vuex";
import { biomes } from "@/biomes";

export default {
  name: "Home",
  mixins: [api],
  components: {
    SeedCard,
    PropertySelect
  },
  data() {
    return {
      query: null,
      help: false,
      biomeLabels: []
    };
  },
  computed: {
    ...mapState("seeds", ["items", "isFetchingSeeds", "fetchError"]),
    ...mapGetters("filters", ["filterOptions"]),
    ...mapState("filters", ["filters"]),
    sort: {
      get() {
        return this.$store.state.filters.sortBy;
      },
      set(newValue) {
        this.$store.dispatch("filters/setSortBy", newValue);
        this.filter();
      }
    },
    sortAscend: {
      get() {
        return this.$store.state.filters.isSortAscend;
      },
      set(newValue) {
        this.$store.dispatch("filters/setIsSortAscend", newValue);
        this.filter();
      }
    }
  },
  watch: {
    // On every filterOptions change reset the pagination and get new results from the api
    // filterOptions() {
    //   this.$store.dispatch("seeds/resetPagination");
    // }
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);

    // reset beacause of the home page
    this.$store.commit("seeds/resetPagination");
    this.$store.commit("seeds/setNoMoreResults");
    this.$store.commit("seeds/setItems", []);
    this.$store.commit("filters/setFilters", []);
    this.$store.commit("filters/setSortBy", null);
    this.$store.commit("filters/setIsSortAscend", false);

    this.$store.dispatch("seeds/getSeedsAdvanced");

    for (const biome of biomes) {
      this.biomeLabels.push(biome.label);
    }
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  methods: {
    handleScroll() {
      if (
        window.innerHeight + window.scrollY >=
          document.body.offsetHeight - 500 &&
        !this.isFetchingSeeds
      ) {
        this.$store.dispatch("seeds/getSeedsAdvanced");
      }
    },
    filter() {
      this.$store.commit("seeds/setNoMoreResults", false);
      this.$store.commit("seeds/resetPagination");
      this.$store.commit("seeds/setItems", []);
      this.$store.commit("filters/setFilters", [this.query]);
      this.$store.dispatch("seeds/getSeedsAdvanced");
    }
  }
};
</script>
