<template>
  <div class="about">
    <v-container fluid>
      <v-row justify="center">
        <v-col cols="12" sm="9" md="6">
          <h1 class="my-5" style="text-align:center">Help us find seeds</h1>

          <p>
            If you want to help find these "God-Tier Seeds", you just need to
            download one of our Clients and let it mine through millions of
            seeds. Whenever the client finds a seed, it will automatically be
            sent to our servers for verification. If it passes, it will be shown
            on the website!
          </p>

          <p>
            Current wiki can be
            <a
              href="https://gitlab.com/controllercubiomes/client/-/wikis/home"
              target="blank"
            >found here</a
           >.

          <p>
            Instructions for how to install the client for the Windows Subsystem
            for Linux (WSL) can be
            <a
              href="https://gitlab.com/controllercubiomes/client/-/wikis/install/win10-wsl"
              target="_blank"
              >found here</a
            >.
          </p>

          <p>
            Instructions for how to install the client for MacOS devices can
            be
            <a
              href="https://gitlab.com/controllercubiomes/client/-/wikis/install/MacOS"
              target="_blank"
              >found here</a
            >.
          </p>

          <v-divider class="my-8"></v-divider>

          <h2 class="my-8" style="text-align:center">Download Client</h2>

          <v-row class="d-flex justify-space-around flex-wrap">
            <v-card min-width="30%" class="text-center mb-6">
              <v-img
                src="../assets/logo_windows.png"
                aspect-ratio="1"
                max-width="100"
                contain
                class="ma-auto mt-4"
              />
              <v-card-subtitle class="d-block text-wrap ma-auto">
                Download for Windows
              </v-card-subtitle>
              <v-card-actions>
                <v-btn
                  dark
                  class="ma-auto"
                  href="https://gitlab.com/controllercubiomes/client/-/jobs/artifacts/master/raw/client.exe?job=build"
                >
                  Download
                </v-btn>
              </v-card-actions>
            </v-card>

            <v-card min-width="30%" class="text-center mb-6">
              <v-img
                src="../assets/logo_linux.png"
                aspect-ratio="1"
                max-width="100"
                contain
                class="ma-auto mt-4"
              />
              <v-card-subtitle class="d-block text-wrap text-center">
                Download for Linux
              </v-card-subtitle>
              <v-card-actions>
                <v-btn
                  dark
                  class="ma-auto"
                  href="https://gitlab.com/controllercubiomes/client/-/jobs/artifacts/master/raw/client?job=build"
                >
                  Download
                </v-btn>
              </v-card-actions>
            </v-card>

            <v-card min-width="30%" class="text-center mb-6">
              <v-img
                src="../assets/logo_mac.png"
                aspect-ratio="1"
                max-width="100"
                contain
                class="ma-auto mt-4"
              />
              <v-card-subtitle class="d-block text-wrap text-center">
                Download for macOS
              </v-card-subtitle>
              <v-card-actions>
                <v-btn
                  dark
                  class="ma-auto"
                  href="https://gitlab.com/controllercubiomes/client/-/jobs/artifacts/master/raw/client?job=build:darwin"
                >
                  Download
                </v-btn>
              </v-card-actions>
            </v-card>

            <v-card class="text-center mb-6">
              <v-img
                src="../assets/logo_raspberryPi.png"
                aspect-ratio="1"
                max-width="100"
                contain
                class="ma-auto mt-4"
              />
              <v-card-subtitle class="d-block text-wrap text-center">
                Download for ARM based platforms
              </v-card-subtitle>
              <v-card-actions>
                <v-btn
                  dark
                  class="ma-auto"
                  href="https://gitlab.com/controllercubiomes/client/-/jobs/artifacts/master/raw/client?job=build:arm"
                >
                  arm Download
                </v-btn>
                <v-btn
                  dark
                  class="ma-auto ml-2"
                  href="https://gitlab.com/controllercubiomes/client/-/jobs/artifacts/master/raw/client?job=build:arm64"
                >
                  arm64 Download
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-row>

          <v-divider class="my-8" />

          <h2 class="my-8" style="text-align:center">Windows SmartScreen</h2>

          <p>
            Since we have not yet signed the Windows client, Windows will mark
            the app as insecure. To skip the popup just click 'More Info' and
            then 'Run Anyway'.
          </p>

          <v-img
            src="../assets/windows-protected.jpg"
            class="ma-auto mt-4"
            style="max-width: 600px"
          ></v-img>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "Download"
};
</script>
