<template>
  <v-container>
    <v-progress-circular
      v-if="!seedData"
      style="margin-top: 100px; margin-left: calc(50% - 35px)"
      :size="70"
      :width="7"
      indeterminate
    />

    <template v-else>
      <v-alert v-if="notVerified" class="mt-3" type="info">
        This seed is not verified. Check back later for more information if you
        just found this seed.
      </v-alert>

      <SeedDetails :seedData="seedData" :hideInfo="notVerified" />
    </template>
  </v-container>
</template>

<script>
import SeedDetails from "@/components/SeedDetails.vue";
import api from "@/mixins/api";

export default {
  name: "Seed",
  components: {
    SeedDetails
  },
  mixins: [api],
  data() {
    return {
      seedData: null,
      notVerified: true
    };
  },
  async created() {
    this.seedData = { seed: this.$route.params.seed };

    const verifiedSeed = await this.getSeed(this.$route.params.seed);
    if (verifiedSeed != null) {
      this.seedData = verifiedSeed;
      this.notVerified = false;
      return;
    }
    this.notVerified = true;
  },
  beforeDestroy() {
    this.$store.dispatch("toggleLegend", false);
  }
};
</script>
