<template>
  <div>
    <iframe src="https://grafana.acormiz.com:3000/d/R2VW_-tMz/seedhunt-net?orgId=1&theme=light&kiosk=tv" />
  </div>
</template>

<script>
export default {
  name: "Statistics"
};
</script>

<style scoped>
iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
</style>
