<template>
  <div>
    <!-- <div style="display: flex; padding: 30px 9% 0"> -->
    <div class="d-flex align-center">
      <v-btn color="primary" v-on:click="openFilterForm">
        Add Filter
        <v-icon right>mdi-filter-plus</v-icon>
      </v-btn>

      <span v-if="showTotalResults" class="ml-5 align-self-center">
        [ {{ totalResults }} Results ]
      </span>

      <!-- <v-btn
        class="ml-auto"
        color="primary"
        :disabled="isRenderingSeeds"
        @click="shuffle"
      >
        Shuffle
        <v-icon right>mdi-shuffle-variant</v-icon>
      </v-btn> -->

      <div class="ml-5 ml-auto" style="width: 275px; height: 39px">
        <PropertySelect v-model="sort" :isSortSelect="true"></PropertySelect>
      </div>

      <v-tooltip right>
        <template v-slot:activator="{ on }">
          <v-btn icon @click="sortAscend = !sortAscend" v-on="on">
            <v-icon>
              {{ sortAscend ? "mdi-sort-ascending" : "mdi-sort-descending" }}
            </v-icon>
          </v-btn>
        </template>
        <span>{{ sortAscend ? "Ascending" : "Descending" }}</span>
      </v-tooltip>
    </div>

    <!-- <div style="display: flex; padding: 0 9%; flex-wrap: wrap;"> -->
    <div class="d-flex flex-wrap mt-2">
      <!-- todo fix key-->
      <v-chip
        v-for="filter in filters"
        v-bind:key="filter.unique"
        class="ma-2"
        close
        @click="editFilter(filter)"
        @click:close="removeFilter(filter)"
      >
        <template v-if="filter.property !== 'spawn_biome'">
          {{ filter.propertyLabel }} {{ filter.operator }}
          {{ filter.value }}
        </template>
        <template v-else>Spawn Biome is {{ filter.valueLabel }}</template>
      </v-chip>
    </div>

    <v-dialog v-model="formOpen" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Filter</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form ref="form">
              <v-row>
                <v-col cols="12" sm="12">
                  <PropertySelect v-model="formProperty" @filterTypeChanged="formValue = null"></PropertySelect>
                </v-col>

                <template v-if="formProperty && formProperty !== 'spawn_biome'">
                  <v-col cols="12" sm="4">
                    <v-autocomplete
                      v-model="formOperator"
                      :items="operatorOptions"
                      label="Operator"
                      required
                    />
                  </v-col>

                  <v-col cols="12" sm="8">
                    <v-text-field
                      v-model="formValue"
                      label="Value"
                      :rules="[
                        v => !!v || 'Value is required',
                        v => !isNaN(v) || 'Value must be a number'
                      ]"
                      required
                    />
                  </v-col>
                </template>
                <template
                  v-else-if="formProperty && formProperty === 'spawn_biome'"
                >
                  <v-col cols="12" sm="12">
                    <v-autocomplete
                      v-model="formValue"
                      :items="spawnBiomeOptions"
                      label="Select Biome(s)"
                      multiple
                      @input="searchInput = null"
                      :search-input.sync="searchInput"
                    />
                  </v-col>
                </template>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="cancelFilter">Cancel</v-btn>
          <v-btn color="primary" text @click="addFilter">Apply</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import labelsMixin from "@/mixins/labels";
import PropertySelect from "@/components/PropertySelect";
import { biomeLabels } from "@/biomes";
import { mapState } from "vuex";

export default {
  mixins: [labelsMixin],
  components: { PropertySelect },
  data() {
    return {
      formOpen: null,
      formProperty: null,
      formOperator: null,
      formValue: null,
      propertyOptions: [],
      operatorOptions: ["=", "<", ">", "<=", ">="],
      operatorsQuery: {
        "=": "eq",
        "<": "lt",
        ">": "gt",
        "<=": "le",
        ">=": "ge"
      },
      queryOperators: {
        eq: "=",
        lt: "<",
        gt: ">",
        le: "<=",
        ge: ">="
      },
      spawnBiomeOptions: [],
      editingFilter: null,
      queryObject: "",
      biomeLabels: biomeLabels(),
      searchInput: null
    };
  },
  computed: {
    ...mapState("filters", ["filters"]),
    ...mapState("seeds", [
      "totalResults",
      "isFetchingSeeds",
      "items"
    ]),
    sort: {
      get() {
        return this.$store.state.filters.sortBy;
      },
      set(newValue) {
        return this.$store.dispatch("filters/setSortBy", newValue);
      }
    },
    sortAscend: {
      get() {
        return this.$store.state.filters.isSortAscend;
      },
      set(newValue) {
        return this.$store.dispatch("filters/setIsSortAscend", newValue);
      }
    },
    showTotalResults() {
      return this.filters.length && !this.isFetchingSeeds;
    }
  },
  created() {
    for (const k in this.propertyLabels) {
      this.propertyOptions.push({
        value: k,
        text: this.propertyLabels[k]
      });
    }

    this.propertyOptions.push({
      value: "all_groups",
      text: "All biome groups"
    });

    for (const k in this.biomeGroupLabels) {
      this.propertyOptions.push({
        value: k + "_group",
        text: this.biomeGroupLabels[k] + " group"
      });
    }

    for (const k in this.biomeLabels) {
      const option = { value: k, text: this.biomeLabels[k] };
      this.propertyOptions.push(option);
      this.spawnBiomeOptions.push(option);
    }

    // Create a bulk array of filters from the query parameters
    // so that we are not adding them 1 by 1
    const filters = [];

    for (const filterKey in this.$route.query) {
      const filterValue = this.$route.query[filterKey];
      if (Array.isArray(filterValue)) {
        for (const value of filterValue) {
          const filter = this.parseFilterFromQuery(filterKey, value);
          filters.push(filter);
        }
      } else {
        const filter = this.parseFilterFromQuery(filterKey, filterValue);
        filters.push(filter);
      }
    }

    // Don't dispatch the bulk setFilters action if there aren't any filters (No url params)
    if (filters.length) this.$store.dispatch("filters/setFilters", filters);
  },
  methods: {
    parseFilterFromQuery(queryKey, queryValue) {
      const split = queryValue.split("_");

      const value =
        queryKey === "spawn_biome"
          ? split
              .slice(1)
              .join("_")
              .split(",")
          : Number(split[1]);

      const filter = {
        unique: Math.random(),
        property: queryKey,
        operator: this.queryOperators[split[0]],
        value
      };

      filter.propertyLabel = this.propertyOptions.find(
        p => p.value === queryKey
      ).text;

      if (queryKey === "spawn_biome") {
        filter.valueLabel = filter.value
          .map(biome => this.biomeLabels[biome])
          .join(", ");
      }

      return filter;
    },
    openFilterForm() {
      this.formOperator = "=";
      this.formOpen = true;
    },
    cancelFilter() {
      this.formOpen = false;
      this.$refs.form.reset();
    },
    addFilter() {
      if (!this.$refs.form.validate()) {
        return;
      }

      let filter;
      if (this.editingFilter) {
        // Spread as to not mutate the store outside of vuex
        filter = { ...this.editingFilter };
      } else {
        filter = { unique: Math.random() };
      }

      filter.property = this.formProperty;
      filter.operator = this.formOperator;
      filter.value = this.formValue;

      filter.propertyLabel = this.propertyOptions.find(
        p => p.value === this.formProperty
      ).text;

      if (filter.property === "spawn_biome") {
        filter.valueLabel = filter.value
          .map(biome => this.biomeLabels[biome])
          .join(", ");
      }

      if (this.editingFilter) {
        this.$store.dispatch("filters/editFilter", filter);
        this.editingFilter = null;
      } else {
        this.$store.dispatch("filters/addFilter", filter);
      }

      this.formOpen = false;
      this.updateQueryString();
      this.$refs.form.reset();
    },
    editFilter(filter) {
      this.formProperty = filter.property;
      this.formOperator = filter.operator;
      this.formValue = filter.value;
      this.formOpen = true;
      this.editingFilter = filter;
    },
    removeFilter(filter) {
      const index = this.filters.indexOf(filter);
      if (index > -1) {
        this.$store.dispatch("filters/removeFilter", index);
        this.updateQueryString();
      }
    },
    shuffle() {
      if (this.sort) this.sort = null;
      this.$store.dispatch("seeds/shuffle");
    },
    updateQueryString() {
      const query = {};
      for (const filter of this.filters) {
        const op = this.operatorsQuery[filter.operator];
        if (query[filter.property]) {
          query[filter.property].push(op + "_" + filter.value);
        } else {
          query[filter.property] = [op + "_" + filter.value];
        }
      }
      this.$router.replace({ query });
    }
  }
};
</script>
