<template>
  <div>
    <v-card v-for="biome in sortedBiomes" :key="biome.id" tile class="body-2">
      <v-row>
        <v-col cols="2" :style="{ 'background-color': biome.hex }"></v-col>
        <v-col cols="10" style="padding: 0 0 0 8px;">
          {{ biome.displayName }}
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
import { biomes } from "@/biomes";

export default {
  name: "Legend",
  computed: {
    sortedBiomes() {
      return biomes
        .filter(biome => biome.enabled)
        .sort((a, b) => {
          if (a.displayName > b.displayName) return 1;
          if (a.displayName < b.displayName) return -1;
          return 0;
        });
    }
  }
};
</script>
