<template>
  <v-autocomplete
    v-bind:value="value"
    v-on:input="$emit('input', $event)"
    :items="options"
    :label="isSortSelect ? 'Sort by' : 'Filter by'"
    :dense="isSortSelect && !advanced"
    :outlined="isSortSelect && !advanced"
    :clearable="isSortSelect"
    :required="!isSortSelect"
    :rules="!isSortSelect ? [v => !!v || 'Filter by is required'] : undefined"
    :solo="advanced"
    @input="$emit('filterTypeChanged')"
  >
    <template v-slot:item="data">
      <template v-if="!$vuetify.breakpoint.xs">
        <v-tooltip v-if="data.item.groupBiomes" left color="secondary">
          <template v-slot:activator="{ on }">
            <div
              slot="activator"
              v-if="data.item.description"
              style="margin-left: -16px"
              v-bind:style="{ padding: isSortSelect ? '8px 6px 8px 10px' : '12px 8px 12px 14px' }"
              v-on="on"
            >
              <v-icon dense>mdi-information-outline</v-icon>
            </div>
          </template>
          Groups is composed by the following biomes:
          <ul v-if="data.item.groupBiomes">
            <li v-for="biome in data.item.groupBiomes" v-bind:key="biome">{{ biomeLabels[biome] }}</li>
          </ul>
        </v-tooltip>
        <div v-else v-bind:style="{ width:  isSortSelect ? '18px' : '24px' }"></div>
      </template>

      <v-list-item-content>
        <v-list-item-title v-html="data.item.text" />
        <v-list-item-subtitle
          v-if="$vuetify.breakpoint.xs"
          v-html="data.item.description"
          style="white-space:normal"
        />
      </v-list-item-content>
    </template>
  </v-autocomplete>
</template>

<script>
import labelsMixin from "@/mixins/labels";

export default {
  mixins: [labelsMixin],
  props: ["isSortSelect", "value", "advanced"],
  data() {
    return {
      options: []
    };
  },
  created() {
    for (const k in this.propertyLabels) {
      // Don't add spawn_biome to sorting options as you can't really sort by it
      if (!this.isSortSelect || k !== "spawn_biome") {
        this.options.push({
          value: k,
          text: this.propertyLabels[k]
        });
      }
    }

    this.options.push({ header: "GROUPS" });

    if (!this.isSortSelect) {
      this.options.push({
        value: "all_groups",
        text: "All biome groups"
      });
    }

    for (const k in this.biomeGroupLabels) {
      const option = {
        value: k + "_group",
        text: this.biomeGroupLabels[k] + " group"
      };

      this.options.push(option);

      option.groupBiomes = this.biomeGroupBiomes[k];
      option.description = this.biomeGroupBiomes[k]
        .map(x => this.biomeLabels[x])
        .join(", ");
    }

    this.options.push({ header: "BIOMES" });

    for (const k in this.biomeLabels) {
      this.options.push({
        value: k,
        text: this.biomeLabels[k]
      });
    }
  }
};
</script>
