<template>
  <v-card v-on:click="dialog = true">
    <div class="d-flex flex-column flex-md-row">
      <img
        style="width: 250px; height: 250px; border-radius: 4px 0 0 4px;"
        :src="imgSrc"
        alt="Minecraft Biome Map"
      />

      <div style="width: 250px">
        <v-card-title>{{ seedData.seed }}</v-card-title>

        <v-card-text>
          <div class="d-flex mt-md-2">
            <div>Spawn Biome:</div>
            <b>{{ biomes[seedData.spawn_biome] }}</b>
          </div>
          <div class="d-flex mt-2 mt-md-4">
            <div>Closest Village:</div>
            <b>{{ seedData.village_distance }}</b>
          </div>
          <div class="d-flex mt-2 mt-md-4">
            <div># Witch Huts:</div>
            <b>{{ seedData.huts }}</b>
          </div>
          <div class="d-flex mt-2 mt-md-4">
            <div># Monuments:</div>
            <b>{{ seedData.monuments }}</b>
          </div>
        </v-card-text>
      </div>
    </div>

    <v-dialog v-model="dialog" width="80%" max-width="750">
      <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>Seed Details</v-card-title>

        <SeedDetails :seedData="seedData" />

        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" text :to="'/seed/' + seedData.seed">Open page</v-btn>
          <v-btn color="primary" text @click="dialog = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import SeedDetails from "@/components/SeedDetails";
import { biomeLabels } from "@/biomes";
import { imgGen } from "@/main";

export default {
  name: "SeedCard",
  components: { SeedDetails },
  props: ["seedData"],
  data() {
    return {
      imgGen,
      imgSrc: "",
      dialog: false,
      biomes: biomeLabels()
    };
  },
  async created() {
    this.imgSrc = await this.imgGen.addToQueue(this.seedData.seed);
  }
};
</script>

<style scoped>
.v-card__text div div {
  margin-right: 4px;
}
</style>
