<template>
  <v-app>
    <v-app-bar
      app
      dark
      shrink-on-scroll
      prominent
      src="./assets/background.jpg"
      fade-img-on-scroll
      scroll-threshold="500"
    >
      <template v-slot:img="{ props }">
        <v-img v-bind="props" gradient="to top right, rgba(48,116,68,.6), rgba(0,0,48,.7)" />
      </template>

      <v-app-bar-nav-icon class="d-flex d-md-none" @click="drawer = true" />

      <router-link to="/" tag="div" class="v-toolbar__title" style="cursor: pointer">Seed Hunt</router-link>

      <v-col id="seed_stats" class="v-toolbar__title">
        <v-row no-gutters>
          <v-col cols="7">seeds scanned:</v-col>
          <v-spacer />
          <v-col class="stat">{{ totalScanned }}</v-col>
        </v-row>
        <v-row no-gutters>
          <v-col cols="7">seeds per second:</v-col>
          <v-spacer />
          <v-col class="stat">{{ sps }}</v-col>
        </v-row>
        <v-row no-gutters>
          <v-col cols="7">viable seeds:</v-col>
          <v-spacer />
          <v-col class="stat">{{ totalViable }}</v-col>
        </v-row>
      </v-col>

      <v-spacer />

      <div class="d-none d-md-flex" style="align-self:flex-end; margin:7px">
        <v-btn v-for="item in navItems" :key="item.title" :to="item.linkTo" text>{{ item.title }}</v-btn>
      </div>

      <v-progress-linear
        :active="isFetchingSeeds"
        indeterminate
        absolute
        bottom
        color="white"
      ></v-progress-linear>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" app temporary>
      <v-list dense nav>
        <v-list-item v-for="item in navItems" :key="item.title" link :to="item.linkTo">
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-content>
      <router-view />
    </v-content>

    <v-navigation-drawer :value="legend" app right stateless>
      <Legend />
    </v-navigation-drawer>
  </v-app>
</template>

<script>
import api from "@/mixins/api";
import Legend from "@/components/Legend";
import { mapState } from "vuex";

export default {
  name: "App",
  mixins: [api],
  components: {
    Legend
  },

  data: () => ({
    drawer: false,
    navItems: [
      { title: "Home", linkTo: "/", icon: "mdi-view-dashboard" },
      {
        title: "Advanced",
        linkTo: "/advanced",
        icon: "mdi-filter"
      },
      {
        title: "Statistics",
        linkTo: "/stats",
        icon: "mdi-chart-bell-curve-cumulative"
      },
      {
        title: "Help us find seeds",
        linkTo: "/download",
        icon: "mdi-download"
      },
      { title: "About", linkTo: "/about", icon: "mdi-help-box" }
    ],
    sps: 0,
    totalScanned: 0,
    totalViable: 0
  }),

  created() {
    // Prep for all statistics endpoint
    // NOT YET AVAILABLE
    /*    this.getStatistics()
      .then(res => {
        this.totalScanned = res.total_scanned_seeds.formatted;
        this.sps = res.seeds_per_secound.formatted;
        this.totalViable = res.total_viable_seeds.formatted;
      })
      .catch(); */
    this.getTotalScanned()
      .then(res => (this.totalScanned = res))
      .catch();
    this.getSPS()
      .then(res => (this.sps = res))
      .catch();
    this.getTotalViable()
      .then(res => (this.totalViable = res))
      .catch();
  },

  computed: {
    legend() {
      return this.$store.state.legend.enabled;
    },
    ...mapState("seeds", ["isFetchingSeeds"])
  }
};
</script>

<style scoped>
#seed_stats {
  padding: 3px;
  margin-left: 30px;
  font-size: 0.5em;
  line-height: 1.5em;
  max-width: 200px;
  font-family: "Roboto Mono", monospace;
}
</style>
